
 

h1 {
    text-align: center;
   color: blue;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

h2 {
    text-align: center;
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    background-image: url('imagens/wallpaper de cyberpunk copy.jpg');
    background-size: cover; /* ajusta a imagem para cobrir toda a tela */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* impede que a imagem se repita */
    height: 100vh
    
  }

 
  .caixa {
    width: 100%; /* Largura do quadrado */
    height: 200px; /* Altura do quadrado */
    background-color: rgba(92, 92, 92, 0.733); /* Cor de fundo da caixa */
    border: 2px solid black; /* Borda preta */
    padding: 20px; /* Espaçamento interno entre a borda e o texto */
    margin: 10px; /* Espaçamento externo entre as caixas */
    display: inline-block; /* Faz as caixas ficarem lado a lado */
    box-sizing: border-box; /* Inclui o padding e a borda na largura e altura */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;

  }
  
  
  h1, h2 {
    text-shadow: 
      1px 1px 0px black, /* Sombra à direita e abaixo */
      -1px 1px 0px black, /* Sombra à esquerda e abaixo */
      1px -1px 0px black, /* Sombra à direita e acima */
      -1px -1px 0px black; /* Sombra à esquerda e acima */
    color: white; /* Cor do texto */
  }
  
 